* {
  margin: 0;
  padding: 0;
}

body {
  font-family: qlassik;
  -o-transform: all 0.5s ease;
  -moz-transform: all 0.5s ease;
  -webkit-transform: all 0.5s ease;
  transform: all 0.5s ease;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 150%;
  margin-bottom: 2em;
}

.align_center {
  display: block;
  margin: 0 auto;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.fix {
  overflow: hidden;
}

/* container section style implements */
.container_full {
  width: 100%;
}

.container {
  width: 980px;
  display: block;
  margin: 0 auto;
}

.def_bg {
  background-color: #e8e8e8;
}

/* header section style implements */
.def_bg {
  background-color: #e8e8e8;
}

#header .logo h1 {
  font-weight: bold;
  font-size: 33px;
  color: #515151;
  margin-top: 47px;
}

/* menu section style implements */
.menu {
  margin: 47px 0;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 2px #afafaf;
  border-radius: 5px;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  float: left;
  padding: 10px 15px;
  background: url(images/border_r.png) no-repeat;
  background-position: center right;
}

.menu ul li:last-child {
  background: none;
}

.menu ul li:hover {
  background: url(images/menu_li_hover.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.menu ul li a {
  font-weight: normal;
  font-size: 19px;
  color: #515151;
}

/* slider section style implements */
.slider_bottom_area {
  overflow: hidden;
}

.slider_bottom_area p {
  font-weight: normal;
  font-size: 28px;
  margin: 60px 0px;
}

/* main content column style implements */
.single_colum {
  width: 185px;
  text-align: center;
  float: left;
  margin-right: 45px;
  margin-left: 20px;
}

.single_colum:last-child {
  margin-right: 0px;
}

.single_colum .icon {
  width: 62px;
  height: 62px;
}

.single_colum h2 {
  font-weight: bold;
  font-size: 22px;
}

.single_colum p {
  font-weight: normal;
  font-size: 18px;
}

/* main content area style implements */
#content_left {
  width: 480px;
  float: left;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 50px;
}

#content_left #about_us .about_us_h2 {
  font-weight: bold;
  font-size: 25px;
  background: url(images/about_icon.png) no-repeat;
  background-position: left center;
  padding-left: 40px;
}

#content_left #about_us p {
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  margin-top: 20px;
}

#content_right {
  width: 480px;
  float: right;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#content_right .content_right_h2 {
  font-weight: bold;
  font-size: 25px;
  background: url(images/latest_work.png) no-repeat;
  background-position: left center;
  padding-left: 40px;
}

#content_right ul {
  list-style-type: none;
}

#content_right ul li {
  float: left;
  padding-right: 20px;
}

#content_right ul li a img {
  width: 80px;
  height: 80px;
  border: 7px solid #ffffff;
  border-radius: 10px;
  margin-top: 30px;
}

/* footer top area style implements */
.footer_top_bg {
  background: url(images/footer_r1.png) repeat-x;
  background-position: center;
  background-size: cover;
}

.single_footer_area {
  width: 280px;
  float: left;
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.single_footer_area:first-child {
  margin-left: 0px;
}

.single_footer_area h2 {
  font-weight: bold;
  font-size: 25px;
  background: url(images/recent_post.png) no-repeat;
  background-position: left center;
  padding-left: 40px;
  color: white;
}

.single_footer_area ul li {
  background: url(images/right_icon.png) no-repeat;
  background-position: left center;
  padding: 10px 40px;
}

.single_footer_area ul li a {
  color: #aaaaaa;
}

.single_footer_area ul li a:hover {
  color: #515151;
}

.twitter_section {
  background: url(images/twitter_bg_shape.png) no-repeat;
}

.twitter_section p {
  padding: 10px;
  color: #aaaaaa;
  text-align: left;
}

.twitter_section p a {
  padding: 10px;
  color: #6e9220;
}

.twitter_section img {
  margin-left: 215px;
}

/* footer section style implements */
.footer_bg {
  background: url(images/footer_bg_down.png) repeat-x;
  background-position: center;
  background-size: cover;
}

#footer #left_footer {
  width: 620px;
  float: left;
}

#footer #left_footer p {
  font-weight: normal;
  font-size: 16px;
  color: #aaaaaa;
  padding-top: 25px;
  padding-bottom: 10px;
}

#footer #left_footer p:hover {
  color: #6e9220;
}

#footer #right_footer {
  width: 340px;
  float: right;
}

#footer #right_footer li {
  float: left;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 10px;
}
